[Unit]
Description=Nightly job to collect MLB stats data
After=network.target
[Service]
User=ubuntu
Group=www-data
ExecStart=/home/ubuntu/mlb-stats-api/venv/bin/python /home/ubuntu/mlb-stats-api/data_capture.py
Restart=always
[Install]
WantedBy=multi-user.target
